.btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-wrap: nowrap;
  padding: 11px 29px 11px;
  color: #fff;
  background: #00a4e5;
}
